In [1]:
import sqlite3

db = sqlite3.connect('../src/main/resources/test.db')

In [2]:
db.execute('''
CREATE TABLE User (
    id VARCHAR(50) PRIMARY KEY,
    name VARCHAR(50)
)
''')

OperationalError: table User already exists

In [ ]:
!pip install pandas

In [3]:
import pandas as pd

pd.read_sql('''SELECT * FROM user''', db)

Empty DataFrame
Columns: [id, name]
Index: []

In [4]:
db.execute('''
INSERT INTO user (id, name) VALUES
    ('user.kim', 'User Kim'),
    ('user.park', 'User Park');
''')

In [5]:
db.commit()

In [ ]:
db.execute('''DELETE FROM user''')
db.commit()